<script>
	$('.navbar-nav li').removeClass('active-nav');
	$('.navbar-nav > li:nth-child(1)').addClass('active-nav');
</script>
<div class="blocks">
	
	<% @blocks.each do |block| %>
	
		<% if @count == 3 %>
			<div class="col-md-4 mini-blocks">
				
				<div class="col-md-4">
					<a href="/product-designing">
						<div class="home-block">
							<img src="/assets/6a.png" alt="">
						</div>
						<div class="home-block-hover">
							<img src="/assets/6aa.jpg" alt="">
						</div>
					</a>
				</div>	
				
				<div class="col-md-4">
					<a href="/brand-design">
					<div class="home-block">
						<img src="/assets/6b.png" alt="">
					</div>
					<div class="home-block-hover">
							<img src="/assets/6bb.jpg" alt="">
						</div>	
						</a>
				</div>	
				
				<div class="col-md-4">
					<a href="/space-design">
					<div class="home-block">
						<img src="/assets/6c.png" alt="">
					</div>
					<div class="home-block-hover">
						<img src="/assets/6cc.jpg" alt="">
					</div>
					</a>
				</div>	
				
				<div class="col-md-4">
					<a href="/strategy-design">
					<div class="home-block">
						<img src="/assets/6d.png" alt="">
					</div>
					<div class="home-block-hover">
						<img src="/assets/6dd.jpg" alt="">
					</div>
					</a>
				</div>	
				
				<div class="col-md-4">
					<a href="/packaging-design">
					<div class="home-block">
						<img src="/assets/6e.png" alt="">
					</div>
					<div class="home-block-hover">
						<img src="/assets/6ee.jpg" alt="">
					</div>
					</a>
				</div>	
				
				<div class="col-md-4">
				<a href="/digital-design">
					<div class="home-block">
						<img src="/assets/6f.png" alt="">
					</div>
					<div class="home-block-hover">
						<img src="/assets/6ff.jpg" alt="">
					</div>
					</a>
				</div>	
			</div>
			<% @count = @count + 1 %>
		<% else %>	
			<div class="col-md-4 big-blocks">
			<a href="<%= block.link %>">
				<div class="home-block">
					<%= image_fu block.image1, "380x200" %>	
				</div>
				<div class="home-block-hover">
					<%= image_fu block.image2, "380x200" %>	
				</div>
			</a>
			</div>
		<% @count = @count + 1 %>
		<% end %>
	<% end %>

	</div>



<div class="about-cosire container">
	<h1 class="brand-quote">Power of Design in your Business</h1>
	<p>Cosire springs from root words Co (together) + Sire (Creation).</p>

	<p>As a multi-disciplinary design consultancy, we believe that good design cannot be created in 
	isolation. It must be informed by all stakeholders – consumers, manufacturers, retailers, 
	engineers, designers etc. in order to be effective. Only then can design emerge as the soul of a 
	product or a service.</p>

	<p>Young, experimental, creative, experienced and passionately involved in their work, the Cosire 
	team sees its role as that of design communicators – we try and interpret a customer’s 
	expectations from a product (or service) and through our design convey it to the 
	manufacturers.</p>

	<p>Although our service span four business verticals - industrial/product design, branding, space 
	design and UI-UX design, most often we have straddle all these disciplines and end up being a 
	one-stop design solution service to our clients. </p>


	
</div>

<div class="why-design container">
<hr class="why-design">
	<div class="col-md-4 image-block">
		<img src="/assets/we-are-there.jpg" alt="">
	</div>

	<div class="col-md-8">
		<h2>We are there for you</h2>
		<p class="pull25">Cosire Team can be of immense help to you when…</p>
		<ul>
			<li>
				<p>You need a brand presence for a product with strong features and attributes</p>
			</li>
			<li>
				<p>When your need your flagship product to sparkle before national/international competition</p>
			</li>
			<li>
				<p>When you want to experiment with a new look; a new product line; add value to an existing product, switch to a user friendly design, change a manufacturing process towards cost optimization, good packaging, design input etc.</p>
			</li>
			<li>
				<p>When you want a high brand recall for your product. In such cases, we often craft a family of products with closely matching attributes owned by a single company/brand </p>
			</li>
			<li>
				<p>You may lack in-house competencies, so you decide to farm out the design role to a professional, external consultancy like Cosire</p>
			</li>
			<li>
				<p>Your packaging may need a leg-up. Sometimes, a small tweak in the packing or the addition of a small graphical element can significantly jack-up the sales at the point of purchase</p>
			</li>
			<li>
				<p>Despite an attractive layout, the visits to your websites are not converting into sales. We can enhance the digital experience of your web/app/portal.</p>
			</li>
		</ul>
	</div>
</div>
<hr class="what-is-cosire">

<div class="why-cosire container">
	<div class="col-md-8">
		<h2>Design creates the longest shadow</h2>
		<p>If you thought design is a cost head, think again.</p>
		<p>When present, it not just enhances the look, but also the performance of a product. It can 
		significantly improve the delivery of a service. All this can create a ripple effect that transfers 
		real value to a consumer and improves his experience of a brand.</p>
		<p>Design is an essential attribute of a brand.</p>
		<p>Most businesses commit their maximum resources over material, labor, operational, 
		infrastructure etc. However all those things generally have no direct impact on a customer. A 
		customer has nothing to do with it.</p>
		<p>It’s an investment into your brand-asset.</p>
		
		
		<p>If you really want to create an impact, invest in design. Because it casts the longest shadow.</p>
		<p>At Cosire, we have even coined a new currency for it – Return on Design (RoD). </p>
	</div>

	<div class="col-md-4 image-block">

		<img src="/assets/longest-shadow.jpg" alt="">
	</div>
</div>


