// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// About Page

.about {
	img.about-banner {
		
	}
}


// Vision page
.vision {
	margin-top: 30px;
	
	h2 {
		text-align: center;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


// DOs and DOnts page

.dosanddonts {
	hr.dospage{
		margin-bottom: 30px;
		margin-top: 30px;
	}
}


// Team Page

.team, .advisors-board {
	.row {
		margin-bottom: 20px;
	}
	.team-member {
		margin-bottom: 20px;
	}
	h3 {
		font-weight: 200;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
	p.designation {
		color: #a7a7a7;
	}
	
	.photo {
		margin-top: 10px;
		cursor: pointer;
	}
	
	div.normal-image {
		
	}
	
	div.normal-image{	
		margin-top: -200px !important;
	}
	
}

// Clients page

.clients {
	img {
		margin-bottom: 20px;
	}
}

// Partners page

.partner {
	img {
		margin-bottom: 20px;
	}
}


// Service Page
.service {
	img {
		margin-bottom: 20px;
	}
	
	a {
		color: #777;
	}
	
	a:hover {
		color: black;
		text-decoration: none;
	}
	
	.row {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.caption {
		margin-top: -13px;
		text-align: center;
	}
}

// Product Page

// COntact page
.contact {
	h3 {
		font-weight: 200; 
	}
}

// Work Page

#options ul#filters {
	margin-left: 0px;
	padding-left: 0px;
}

#options #filters li {
	list-style: none;
	display: inline !important;
	margin-right: 30px;
	
	a {
		font-size: 15px;
		color: #777;
		padding-bottom: 3px;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	a.selected {
		border-bottom: 2px solid #777;
	}
}

.photo-2 {
	margin-top: -300px;
	visibility: hidden;
}

#container {
	margin-top: 20px;
	
	.item {
		cursor: pointer;
		text-align: center !important;
		margin-left: -20px;
		margin-right: 20px;
		
		a {
			text-align: center !important;
			font-size: 18px;
			color: #777;
			margin-top: 10px !important;
		}
	}
}


